
@{
    <!--Esta esprando que le indiquemos la PAGINA MESTRA-->
    ViewBag.Title = "Detalle";

}


    <div> 
        <h2>Pagina Default</h2>
    </div>
<!--Quiero que tenga su propia seccion-->
@section SideBar{
    <p>Links:</p>
    <ul>
        <li><a href="#">Link 1</a>></a></li>

        <li><a href="#">Link 2</a>></a></li>

        <li><a href="#">Link 3</a>></a></li>
    </ul>
    }